@page "/"

<div class="container">

    <div class="jumbotron">
        <h1>Configuration Demonstration</h1>
        <h2>(Blazor WASM - Hosted)</h2>
    </div>

    <h3>From wwwroot appsettings.json</h3>
    <div class="col-8">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>Key01</td><td>@Local?.Key01</td></tr>
            <tr><td>Key02</td><td>@Local?.Key02</td></tr>
            <tr><td>Key03</td><td>@Local?.Key03</td></tr>
            <tr><td>Key04</td><td>@Local?.Key04</td></tr>
            </tbody>
        </table>
    </div>

    <hr/>

    <h3>From API call to Hosting Server</h3>
    <div class="col-8">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>Key01</td><td>@Remote?.Key01</td></tr>
            <tr><td>Key02</td><td>@Remote?.Key02</td></tr>
            <tr><td>Key03</td><td>@Remote?.Key03</td></tr>
            <tr><td>Key04</td><td>@Remote?.Key04</td></tr>
            </tbody>
        </table>
    </div>

    <hr/>

    <h3>Dump of Configuration from wwwroot appsettings.json</h3>
    <pre>
    <code>@LocalConfigDebugViewText</code>
</pre>

    <h3>Dump of Configuration from API call to Hosting Server</h3>
    <pre>
    <code>@RemoteConfigDebugViewText</code>
</pre>

</div>